.carrito{
    min-width: 600px;
    height: 800px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 25%;
    left: 6rem;
    border-radius: 20px;
    text-align: start;
    padding: 4rem;

    &__item {
        margin-top: 2rem;
        margin-right: 2rem;
        font-size: x-large;
    }

    &__precio {
        margin-top: 2rem;
    }

    &__cantidad {
        margin-left: 2rem;
        margin-top: 2rem,;
    }

    &__imagen {
        width: 50px;
        height: 50px;
    }

    &__remove {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: large;
        padding: 0.6rem 1rem 0.6rem 1rem;
        margin-left: 1rem;
    }
    
    &__clear { 
        top: 20%;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: large;
        padding: 0.6rem 1rem 0.6rem 1rem;
        position: absolute;
        right: 5%; 
    }

    &__nada { 
        top: 20%;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: large;
        padding: 0.6rem 1rem 0.6rem 1rem;
        position: absolute;
        right: 5%; 
    }
    
    &__continue {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: large;
        padding: 0.6rem 1rem 0.6rem 1rem;
        position: absolute;
        top: 20%;
        left: 5%;
    }

    &__checkout {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 1rem;
        width: 100%;
        font-size: large;
    }
}

.sumario {
    background-color: rgb(0, 0, 0);
    margin-top: 4rem;
    padding: 2rem;
    width: 400px;
    min-height: 200px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 25%;
    right: 6rem;

    &__title {
        padding: 1rem;
        text-align: center;
    }
}