.detail-contenedor {
    @include flexbox (column, center, flex-end);
    margin-top: 10rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    width: 300px;
    min-height: 300px;

    &__title {
        color: red;
    }

    &__description {
        color: rgb(255, 255, 255);
    }

    &__imagen {
        height: 200px;
        object-fit: cover;
    }
}


