.item {
    background-color: rgb(0, 0, 0);
    margin: 2rem;
    padding: 1rem;
    width: 18rem;
    border-radius: 15px;
    
    &__description{
        color: rgb(255, 255, 255);
        margin: 1rem 0 1rem 0;  
   }

   &__image{
    height: 250px;
    object-fit: cover;
   }

}